<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carcenter.dao.CarOrderDao">
    <insert id="save" parameterType="CarOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO car_order (car_id,hirer_id,price,renting_period_month,renting_period_week,renting_period_day,start_day,end_day,status,create_time)
        VALUES (#{carId},#{hirerId},#{price},#{rentingPeriodMonth},#{rentingPeriodWeek},#{rentingPeriodDay},#{startDay},#{endDay},#{status},#{createTime})
    </insert>
    <update id="updateStatus">
        UPDATE car_order
        SET status=#{status}
        WHERE id=#{orderId}
    </update>
    <select id="selectCarOrderByCarIdAndTime" resultType="com.carcenter.model.CarOrder">
        SELECT id FROM car_order WHERE car_id=#{carId} AND
        (
            (
              start_day BETWEEN #{start} AND #{end}
              or end_day BETWEEN #{start} AND #{end}
              or (
                    start_day BETWEEN '2000-01-01' AND #{start}
                    and end_day BETWEEN #{end} AND '2100-12-31'
                  )
            )
            AND status > -1
        )
    </select>
    <select id="selectCarByOrderId" resultType="com.carcenter.model.Car">
        SELECT * FROM car LEFT JOIN car_order ON car_order.car_id=car.id WHERE car_order.id=#{orderId}
    </select>
    <select id="selectAccessiableCarOrderByCarId" resultType="com.carcenter.model.CarOrder">
        SELECT * FROM car_order WHERE car_id=#{carId} AND status!=-1 AND status!=-3 AND status!=3
    </select>

    <select id="getAllCarOrder" resultType="com.carcenter.model.CarOrder">
        SELECT * FROM carcenter.car_order
    </select>

    <select id="startCarOrder" resultType="com.carcenter.model.CarOrder">
        SELECT * FROM carcenter.car_order WHERE start_day=CURRENT_DATE AND status=0
    </select>

    <select id="endCarOrder" resultType="com.carcenter.model.CarOrder">
        SELECT * FROM carcenter.car_order WHERE end_day=CURRENT_DATE AND status=1
    </select>


</mapper>